alembic
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
python-dotenv
pymysql
cryptography