{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="left-section col-3 p-4 mb-3 text-secondary shadow">
            <div class="mb-5">
                <h3>지역 선택</h3>
                <div class="input-group w-100 my-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>행정구</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>행정동</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    
                </div>
            </div>
            <div class="my-3 w-100">
                <h3>업종 대분류 선택</h3>
                <div class="my-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">전체</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">요식업</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">서비스업</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">소매업</button>
                </div>
            </div>
            <div class="w-100 text-center mt-5">
                <button type="button" class="btn btn-outline-info"> 제출 </button>
            </div>
        </div>
        <div class="right-section col-9 bg-light text-center">
            <iframe width='100%' height='100%' src="https://api.mapbox.com/styles/v1/wooyoonwinnie/cllues9di005301rdh9noaqci.html?title=false&access_token=pk.eyJ1Ijoid29veW9vbndpbm5pZSIsImEiOiJjbGx1ZWl2ZjkxOWt0M2RtbGY3MWl5N29jIn0.Ksbm1ZDp2VptXVlOldqguw&zoomwheel=true#10.38/37.5482/126.9439" title="Monochrome" style="border:none;"></iframe>
        </div>
    </div>
</div>
{% endblock %}