{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="left-section col-3 p-4 mb-3 text-secondary shadow">
            <div class="mb-5">
                <h3>지역 선택</h3>
                <div class="input-group w-100 my-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>행정구</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>행정동</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    
                </div>
            </div>
            <div class="my-3 w-100">
                <h3>업종 대분류 선택</h3>
                <div class="my-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">전체</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">요식업</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">서비스업</button>
                    <button type="button" class="btn btn-outline-secondary" style="font-size: .8rem;">소매업</button>
                </div>
            </div>
            <div class="w-100 text-center mt-5">
                <button type="button" class="btn btn-outline-info"> 제출 </button>
            </div>
        </div>
        <div id="map-container" style="height:80vh" class="right-section col-9 bg-light text-center">
        </div>
    </div>
    
</div>

<script defer src="{{ url_for('static', filename='/js/seoul-map.js') }}"></script>
{% endblock %}
