{% extends 'layouts/base.html' %} {% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


<div class="container-fluid w-75">
  {% include "dashboard/navbar.html" %}
  <div>
    <div class="sales-analysis">
      <h1>매출분석</h1>
      
      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4 class="my-2">월 평균 매출 금액</h4>
          <div class="mt-4">
            <h5 class="mt-2">{{ dong }} 평균 {{apart_text9["월 평균 지출"] | safe }} 원</h5>
            <h5 class="mt-2">서울시 평균 {{ apart_text9["서울시 평균 지출"] | safe }} 원</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4 class="my-2">요일별 매출 비교</h4>
          <div class="chart" id="bargraph10">
            <script>
              var graphs10 = {{plot10 | safe}};
              Plotly.plot('bargraph10',graphs10,{});
            </script>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4 class="my-2">업종별 매출 비율</h4>
          <div class="chart" id="bargraph11">
            <script>
              var graphs11 = {{plot11 | safe}};
              Plotly.plot('bargraph11',graphs11,{});
            </script>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
