{% extends 'layouts/base.html' %} {% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


<div class="container-fluid w-75">
  {% include "dashboard/navbar.html" %}
  <div>
    <div class="environment-analysis">
      <h1>환경분석</h1>

      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4 class="my-2">상권 개수</h4>
          <div class="mt-4 d-flex">
            <span class="my-2 text-secondary">총 {{ apart_text0[0] }}개</span>
            <ul class="p-0 mx-5">
              {% for item in apart_text0[1] %}
                  <li class="mt-2" style="list-style:none;"><h5>{{ item }}</h5></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4 class="my-2">최다 입점 업종</h4>
          <div class="mt-4 d-flex">
            <h5 class="mt-2">{{ apart_text1["업종명"] | safe }}</h5>
            <h5 class="mt-2">점포 수 {{ apart_text1["최대업종점포수"] }}</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>업종별 업소 수</h4>
          <div class="chart" id="bargraph2">
            <script>
              var graphs2 = {{plot2 | safe}};
              Plotly.plot('bargraph2',graphs2,{});
            </script>
          </div>
        </div>
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4> 업종별 업소 수 3년 추이</h4>
          <div class="chart" id="bargraph3">
            <script>
                var plot3 = {{ plot3 | tojson | safe }};
                
                if (plot3.data.length > 0) {
                    Plotly.newPlot('bargraph3', plot3.data, plot3.layout);
                } else {
                    document.getElementById('bargraph3').innerHTML = "Sorry";
                }
            </script>
          </div>        
        </div>
      </div>


      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>주변 주요 시설</h4>
          <div class="chart" id="bargraph4">
            <script>
              var graphs4 = {{plot4 | safe}};
              Plotly.plot('bargraph4',graphs4,{});
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="apartment-analysis">
      <h1>아파트분석</h1>
      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>가장 최근(2022) 아파트 평균 가격 및 6억 이상 아파트</h4>
          <h5 class="mt-2">{{ apart_text5 | safe }}</h5>
        </div>
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>가장 최근(2022) 66㎡(약 20평) 미만 비율</h4>
          <h5 class="mt-2">{{ apart_text7 | safe }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>아파트 가격 추이</h4>
          <div class="chart" id="bargraph6">
            <script>
              var graphs6 = {{plot6 | safe}};
              Plotly.plot('bargraph6',graphs6,{});
            </script>
          </div>
        </div>
        <div class="col p-4 m-3 border rounded"
          style="font-size: larger; width: max-content; border: 1pc solid #a4a4a46e">
          <h4>20평 미만 아파트 가구수 추이</h4>
          <div class="chart" id="bargraph8">
            <script>
              var graphs8 = {{plot8 | safe}};
              Plotly.plot('bargraph8',graphs8,{});
            </script>
          </div>
        </div>
      </div>


      </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
