{% extends "mypage/mypage.html" %}
{% block content %}
<style>
  .card:hover{
    box-shadow: antiquewhite;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar -->
    {% include "mypage/sidebar.html" %}

    <!-- Right Content -->
    <div id="right-content" class="right-section col-10 p-5">
      <h2>관리자 페이지</h2>
      <div class="intro-text p-3">
        안녕하세요 관리자님.
      </div>

      <h4 class="mt-5 mb-4">업종 추천 모델 의 정보</h4>
      <table class="text-center">
        <thead>
          <tr id="table-head-row">
          </tr>
        </thead>
        <tbody id="table-body">
          <tr>
              <td>James</td>
              <td>Matman</td>
              <td>(713) 123-8965</td>
              <td><a href="mailto:jmatman@stewart.com">jmatman@stewart.com</a></td>
              <td>01/13/1979</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
<script>
  var staticUrl = "{{ url_for('static', filename='') }}";
</script>
<script
  defer
  src="{{ url_for('static', filename='/js/model.js') }}"
  staticUrl="{{ url_for('static', filename='') }}"
></script>
<style>
  table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  th {
    text-align: left;
  }
    
  thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
  }
    
   td, th {
    padding: 1em .5em;
    vertical-align: middle;
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
  a {
    color: #73685d;
  }
    
   @media all and (max-width: 768px) {
      
    table, thead, tbody, th, td, tr {
      display: block;
    }
    
    th {
      text-align: right;
    }
    
    table {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead {
      float: left;
      white-space: nowrap;
    }
    
    tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    tr {
      display: inline-block;
      vertical-align: top;
    }
    
    th {
      border-bottom: 1px solid #a39485;
    }
    
    td {
      border-bottom: 1px solid #e5e5e5;
    }
    
    
    }
</style>
{% endblock %}