{% extends "layouts/base.html" %} {% block content %}
<style>
  .bi{
    color:rgb(186, 186, 186)
  }
</style>
<div class="container w-50 my-1 p-4" style="box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);">
  <div class="my-1 w-50 mx-auto">
    <h3 class="mx-3 mb-4 pb-2 px-2 text-secondary">계정생성</h3>
    <form method="post">
      {{ form.csrf_token }} {% include "form_errors.html" %}
      <div class="mb-4 d-flex center-block">
        <i class="bi bi-person p-2"></i>
        <input
          type="text"
          class="form-control"
          name="user_id"
          id="user_id"
          value="{{ form.user_id.data or '' }}"
          placeholder="사용자 ID"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-person-fill p-2"></i>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          value="{{ form.username.data or '' }}"
          placeholder="실명"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-key p-2"></i>
        <input
          type="password"
          class="form-control"
          name="user_pw1"
          id="user_pw1"
          value="{{ form.user_pw1.data or '' }}"
          placeholder="비밀번호"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-key-fill p-2"></i>
        <input
          type="password"
          class="form-control"
          name="user_pw2"
          id="user_pw2"
          value="{{ form.user_pw2.data or '' }}"
          placeholder="비밀번호 확인"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-envelope p-2"></i>
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          value="{{ form.email.data or '' }}"
          placeholder="이메일"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-telephone p-2"></i>
        <input
          type="text"
          class="form-control"
          name="phone"
          id="phone"
          value="{{ form.phone.data or '' }}"
          placeholder="전화번호"
        />
      </div>
      <div class="mb-4 d-flex">
        <i class="bi bi-house p-2"></i>
        <input
          type="text"
          class="form-control"
          name="address"
          id="address"
          value="{{ form.address.data or '' }}"
          placeholder="주소"
        />
      </div>
      <div class="w-100 d-flex">
        <button type="submit" class="btn btn-secondary mx-auto">생성하기</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
