{% extends 'layouts/base.html' %} {% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


<div class="container-fluid w-75">
  {% include "dashboard/navbar.html" %}
  <div class="environment-analysis">
    <h1>환경분석</h1>
    <h5 class="my-5">데이터가 충분하지 않아 결과를 보여드릴 수 없습니다. 죄송합니다.</h5>
  </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
